

<div class="panel panel-info">
	<div class="panel-heading" > Recent chat history
		
	</div>
	

	<div id = "groupmessages_list" style="overflow-y:scrolll;height:400px">
	<div class=" panel-body">

		<ul class = "media-list" id = "ul">
			<% @groupmessages= Groupmessage.all %>
			<% @groupmessages.each do |msg| %>
			<% if current_user.name == msg.user.name %>

			<li id = "list-item" >
				<div class="media-body">
				<div class="media">
					<a class= "pull-left" href = "#"><%= image_tag msg.user.avatar,alt: "",class: "img-circle" %></a>

					<div class = "media-body">
					<%= msg.text %>
				<br>
				<small class = "text-muted"><%= msg.user.name.titleize %> at <%= msg.created_at.strftime("%I:%M %p") %> | <%= link_to "Delete",msg, method: :delete,remote:true, class: "msgdelete" %></small>
				<hr>
			</div>
		</div>
	</div>
			</li>
			<% else %>
			<li  id = "list-item" >
				<div class="media-body">
				<div class="media">

					<a class= "pull-left" href = "#"><%= image_tag msg.user.avatar,alt: "",class: "img-circle" %></a>

				<div class = "meida-body">
					<%= msg.text %>
				<br>
				<small class = "text-muted"><%= msg.user.name.titleize %> at <%= msg.created_at.strftime("%I:%M %p") %> | <%= link_to "Delete",msg, method: :delete,remote:true, class: "msgdelete" %></small>
				<hr>
				</div>
			</div>
		</div>
			</li>
			<% end %>
			<% end %>
		</ul> 
	</div>
</div>
<div class = "panel-footer">

	</div>
</div>

<script>
window.onload = function (){
	var objDiv = document.getElementById("groupmessages_list");
	objDiv.scrollTop = objDiv.scrollHeight;

}
var objDiv = document.getElementById("groupmessages_list");
objDiv.scrollTop = objDiv.scrollHeight;
</script>
