
<div class="container">
	<div class="from-wrap">
		<div class="row">
			<div class="col-md-offset-2">
				<div class="animated bounceIn" id="form_1" data-animation="bounceIn">
				<div class="form-header">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-main">
					<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="form-group">
			<%= f.email_field :email, :placeholder => "email", :id => 'email',:class => "form-control", :autofocus => true %>

			<%= f.password_field :password, :placeholder => "password", :id => 'password',:class => "form-control"%>
				</div>
				<%= f.button :submit, "LOGIN", :id => "login-submit",:class => "btn btn-block signin" %>
		
				<% end %>
				</div>
				<div class="form-footer">
					<div class="row">
						<div class="col-xs-12">
							<i class="fa fa-unlock-alt"></i>
							<%= render "devise/shared/links" %>
						</div>
						<div class="col-xs-12">
							<i class="fa fa-check"></i>
							<%= link_to "Signup", new_user_path %>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>



	
		

		

		
			

	




