<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>Chatty</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    PrivatePub.subscribe("/users/new", function(data, channel) {
    return alert('hi');
    });
    </script>
  <%= render 'layouts/nav' %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-2 col-xs-4">
          <%= render partial: 'users/onlineuser' %>

        </div>
      <div class="col-lg-9 col-md-10 col-sm-10 col-md-offset-center col-xs-8">

      <!-- <%= subscribe_to "/chatroom"  %> -->
     <!-- <script>
       PrivatePub.subscribe("/chatroom", function(data, channel)
        {
       var current_user_id = '#{current_user.try(:id)}';
        if (data.receiver_id == current_user_id)
         {
           chatBox.chatWith(data.conversation_id);
          }
          else {
            chatBox.chatWith(data.conversation_id);
          }
         });
       </script> -->

      <%= yield %>
      </div>
    </div>
  </div>

  <!-- <audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio> -->
</body>



<div class="container-fluid">
  <div class = "row">
    <div class=" col-md-12">
      <footer class="navbar-inverse navbar-fixed-bottom" style="z-index:-1;">
        <p style = "text-align:center; color:#eee"><span class = "glyphicon glyphicon-copyright-mark"> </span>  Effone Technologies</p>
      </footer>
    </div>
  </div>
</div>
</html>
